.contact-container{
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 2;
	background-color: black;
}

.contact-box{
	max-width: 850px;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-content: center;
	align-items: center;
	text-align: center;
	background-color: #fff;
	box-shadow: 0px 0px 19px 5px rgba(0,0,0,0.19);
    border-radius: 25px;
}

.contact-form {
	text-align: left;
}

.left{
	background: url("../images/general/contact-bg.jpg") no-repeat center;
	background-size: cover;
	height: 100%;
}

.right{
	padding: 25px 40px;
}

.contact-title{
	position: relative;
	padding: 0 0 10px;
	margin-bottom: 10px;
}

.contact-title:after{
	content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 50px;
    border-radius: 2px;
    background-color: #2ecc71;
}

.field{
	width: 100%;
	border: 2px solid rgba(0, 0, 0, 0);
	outline: none;
	background-color: rgba(230, 230, 230, 0.6);
	padding: 0.5rem 1rem;
	font-size: 1.1rem;
}

.margin-field {
	margin-bottom: 22px;
}

.field:hover{
	background-color: rgba(0, 0, 0, 0.1);
}

textarea{
	min-height: 150px;
}

.contact-btn{
	width: 100%;
	padding: 0.5rem 1rem;
	background-color: #2ecc71;
	color: #fff;
	font-size: 1.1rem;
	border: none;
	outline: none;
	cursor: pointer;
}

.contact-btn:hover{
    background-color: #27ae60;
}

.field:focus{
    border: 2px solid rgba(30,85,250,0.47);
    background-color: #fff;
}

.error-message {
	color: red;
	display: inline-block;
	margin-bottom: 10px;
}

@media screen and (max-width: 880px){
	.contact-box{
		grid-template-columns: 1fr;
	}
	.left{
		height: 200px;
        border-radius: 25px 25px 0px 0px;
	}
}

@media screen and (min-width: 880px) {
    .left{
        border-radius: 25px 0px 0px 25px;
	}
}

/* send form animation */
 .contact-box.is-sent {
	-webkit-animation: launch 1.5s ease-in-out;
			animation: launch 1.5s ease-in-out;
  }
  
  @-webkit-keyframes launch {
	0% {
	  opacity: 1;
	  -webkit-transform: translateY(0) scale(1);
			  transform: translateY(0) scale(1);
	}
	10%, 15% {
	  -webkit-transform: translateY(20px);
			  transform: translateY(20px);
	}
	40%, 70% {
	  -webkit-transform: translateY(-80vw) scale(1);
			  transform: translateY(-80vw) scale(1);
	}
	70% {
	  opacity: 1;
	}
	71% {
	  opacity: 0;
	  -webkit-transform: translateY(-80vw) scale(0.6);
			  transform: translateY(-80vw) scale(0.6);
	}
	72% {
	  opacity: 0;
	  -webkit-transform: translateY(0px) scale(0.6);
			  transform: translateY(0px) scale(0.6);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateY(0px) scale(1);
			  transform: translateY(0px) scale(1);
	}
  }
  
  @keyframes launch {
	0% {
	  opacity: 1;
	  -webkit-transform: translateY(0) scale(1);
			  transform: translateY(0) scale(1);
	}
	10%, 15% {
	  -webkit-transform: translateY(20px);
			  transform: translateY(20px);
	}
	40%, 70% {
	  -webkit-transform: translateY(-80vw) scale(1);
			  transform: translateY(-80vw) scale(1);
	}
	70% {
	  opacity: 1;
	}
	71% {
	  opacity: 0;
	  -webkit-transform: translateY(-80vw) scale(0.6);
			  transform: translateY(-80vw) scale(0.6);
	}
	72% {
	  opacity: 0;
	  -webkit-transform: translateY(0px) scale(0.6);
			  transform: translateY(0px) scale(0.6);
	}
	100% {
	  opacity: 1;
	  -webkit-transform: translateY(0px) scale(1);
			  transform: translateY(0px) scale(1);
	}
  }